In [3]:
from pymongo import MongoClient
import pandas as pd
client = MongoClient('mongodb://admin:admin123@localhost:27017/')

In [4]:
# Check the list of databases and also confirming that database connection made successful
client.list_database_names()

['admin', 'config', 'local', 'testdb']

In [5]:
# Connect to the database
db = client['testdb']

In [6]:
# Check the list of collections inside the database
db.list_collection_names()

['Sample']

In [7]:
# Connecting to the collection
sampleCollection = db['Sample']

In [8]:
# Count the documents to make sure all data imported
sampleCollection.count_documents({})

100

In [9]:
# Import the whole data from database (without the _id) and push the data into the dataframe
df = pd.DataFrame(list(sampleCollection.find({},{'_id':0})))

In [10]:
# Checking the count to make sure all data imported in the dataframe
df.count()

name       100
phone      100
email      100
company    100
dtype: int64

In [11]:
# Exporting data to csv
csvData = "data.csv"
df.to_csv(csvData, index=False)

In [39]:
# Read CSV and put the data into the dataframe
newDf = pd.DataFrame(pd.read_csv(csvData))
# Checking whether the data properly put into the dataframe or not
newDf.count()

name       100
phone      100
email      100
company    100
dtype: int64

In [40]:
# Creating a new column data into a blank array
address = []
for i in newDf.index:
    address.append("Dummy Address " + str(i+1))

In [41]:
# Creating a new column in the dataframe and adding the array into it
newDf["address"] = address
# Another way of appending the array into dataframe in a particular position
# newDf.insert(1, "address", address, True)

In [43]:
# Displaying top 5 rows
display(newDf.head(5))

,name,phone,email,company,address
0,Walter,1-572-725-6685,velit@duiaugue.ca,Purus Maecenas Ltd,Dummy Address 1
1,Barrett,1-183-263-5671,accumsan.sed.facilisis@massa.org,Iaculis Industries,Dummy Address 2
2,Donovan,1-490-733-9774,felis.orci.adipiscing@magnaet.net,Mollis Incorporated,Dummy Address 3
3,Shelly,1-653-725-9133,In.mi@Sed.net,Lectus LLC,Dummy Address 4
4,Brenda,1-341-406-3329,sed.hendrerit@anequeNullam.ca,Non Dui Limited,Dummy Address 5

In [45]:
# Print the dimentional matrix of dataframe
newDf.shape

(100, 5)

In [46]:
# Transposing the dataframe
transposedDf = newDf.T
transposedDf.shape

(5, 100)

In [47]:
display(transposedDf)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
name,Walter,Barrett,Donovan,Shelly,Brenda,Martina,Erich,Maite,Brendan,Nomlanga,...,Jeanette,Kevin,Jana,Aquila,Grace,Adam,Martina,Russell,Halla,Linus
phone,1-572-725-6685,1-183-263-5671,1-490-733-9774,1-653-725-9133,1-341-406-3329,1-955-995-5801,1-841-243-6762,1-227-682-9932,1-664-963-5479,1-522-309-2338,...,1-353-240-2645,1-132-652-3756,1-921-936-7292,1-994-634-6254,1-345-811-9328,1-194-706-0228,1-452-236-9698,1-255-873-8692,1-244-847-9446,1-166-270-8788
email,velit@duiaugue.ca,accumsan.sed.facilisis@massa.org,felis.orci.adipiscing@magnaet.net,In.mi@Sed.net,sed.hendrerit@anequeNullam.ca,molestie@aliquetlobortisnisi.com,ultricies@Nullamscelerisque.edu,sem.ut@nonummyultricies.net,nunc.nulla@MaurisnullaInteger.edu,Etiam.ligula@molestiepharetranibh.ca,...,rutrum@tellus.com,commodo.auctor@quamquis.org,amet.ornare.lectus@Donecporttitor.com,congue.In.scelerisque@orci.co.uk,magna.malesuada.vel@malesuadafamesac.net,dignissim@magnaPhasellus.net,et.rutrum@ullamcorper.ca,enim.Suspendisse@eu.com,dolor.Fusce@natoque.com,sodales.nisi@acturpis.co.uk
company,Purus Maecenas Ltd,Iaculis Industries,Mollis Incorporated,Lectus LLC,Non Dui Limited,Per Inceptos Corp.,Quam Elementum Ltd,Congue Inc.,Scelerisque Dui Suspendisse LLC,Ipsum Foundation,...,Cras Lorem Lorem Incorporated,Est Nunc Company,Risus Corp.,Sed Diam PC,Fames Ac Turpis Foundation,Purus In Molestie Foundation,Magnis PC,Mauris Magna Institute,Pharetra Foundation,Ridiculus Mus Donec Inc.
address,Dummy Address 1,Dummy Address 2,Dummy Address 3,Dummy Address 4,Dummy Address 5,Dummy Address 6,Dummy Address 7,Dummy Address 8,Dummy Address 9,Dummy Address 10,...,Dummy Address 91,Dummy Address 92,Dummy Address 93,Dummy Address 94,Dummy Address 95,Dummy Address 96,Dummy Address 97,Dummy Address 98,Dummy Address 99,Dummy Address 100